<article class="commit" data-node="{{ node }}">
	<header>
		<h3 class="author">{{ author }}</h3>
	</header>
	<p>{{ message }}</p>
	<footer>
		<aside class="repo-name">{{ _key }}</aside>
		<time datetime="{{ utstimestamp }}">{{ timestamp }}</time>
	</footer>
</article>
