/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
    core.css
    Contains core styles
    Created at:
    Created by:

    @credits
    This site uses a modification on the SMACSS design - http://smacss.com/ - by @snookca


=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

/* ====================================================
    LESS IMPORTS
==================================================== */

@import "libs/css3.less";




/* ====================================================
    LESS VARS
==================================================== */
@c-bg: tranparent;
@c-copy: #666;

@c-blue: #0080ff;
@c-green: #33cb98;
@c-orange: #ff9934;
@c-red: #C00;

@f-stack-1: Populaire, "Helvetica Neue", Helvetica, Arial, sans-serif;
@f-stack-2: Monaco;
@f-size: 14px;

@w-wrap: 800px;

/* ====================================================
    BASE STYLES

    Base rules are the defaults. They are almost exclusively
    single element selectors but it could include attribute selectors,
    pseudo-class selectors, child selectors or sibling selectors.
    Essentially, a base style says that wherever this element is on the page,
    it should look like...
==================================================== */

* {
    /* Paul Irish's suggestion: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;

    /* Chris Coyier's suggestions */
    background-repeat: no-repeat;
    vertical-align: middle;
}


::-moz-selection{ background:#333; color:#F8F8F8; text-shadow:none; }
::selection { background:#333; color:#F8F8F8; text-shadow:none; }

html, body { -web-font-smoothing: antialiased; }
body {
    color: @c-copy;
    text-shadow: 0px 1px 0px #FFF;
    background: transparent url(../img/background.jpg) repeat 0px 0px;
    font-family: @f-stack-1;
    font-size: @f-size;
}


::-webkit-input-placeholder {}
:-moz-placeholder {}
[type=search] {
    /* resets webkit styling on search inputs */
    -webkit-appearance: none;
}
/* Style the webkit validation message for forms */
::-webkit-validation-bubble-message {
    padding: 40px;
}

a { color: @c-blue; }
a:link {}
a:visited {}
a:hover {}
a:active {}
a:focus {}

input:required {}
input:optional {}
input:valid {}
input:invalid {}
input:default {}
input:focus {}

input:enabled {}
input:disabled {}
input:checked {}
input:indeterminate {} /* un-selected radio buttons :) */


h1, h2, h3, h4, h5 { margin-bottom: 10px; }
/*h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1em; }
*/
::-webkit-input-placeholder {}
:-moz-placeholder {}

code { font-family: @f-stack-2; padding: 10px; border: 1px solid #DDD; border-radius: 4px; background-color: #F2F2F2; text-shadow: 0px 1px 0px  #FFF; }


/* ====================================================
    LAYOUT STYLES

    Layout rules divide the page into sections.
    Layouts hold one or more modules together.
==================================================== */
#wrapper { max-width: @w-wrap; margin: auto; padding: 2%;   }
#header {
    margin: 40px auto 40px;
    h1 { font-size: 20px; }
}

#commits {
    border: 1px solid #C9C9C9;
    border-radius: 4px;
    overflow: hidden;
}
#commit-stats {
    border-top: 1px solid #C9C9C9;
    border-bottom: 1px solid #C9C9C9;
    margin: 20px 0px 20px;
    padding: 20px 0px 20px;
    .g { text-align: center; }
}
/* ====================================================
    MODULES STYLES

    Modules are the reusable, modular parts of our design.
    They are the callouts, the sidebar sections, the product lists and so on.
==================================================== */
.commit {
    margin: 0px 0px 0px;
    border-bottom: 1px solid #C9C9C9;
    border-top: 1px solid #FFF;
    .inner { padding: 20px 20px 20px; position: relative; }
    header {  }
    footer { margin-top: 8px; }
    &:last-child { border-bottom: none; }
    &:first-child { border-top: none; }
    &:hover {
        .open-details-link { opacity: 0.9; }
    }
}
.commit-time {
    float: right;
    &.icon-time:before { font-size: 16px; margin: 0px 6px 0px 0px; }
}
.repo-name {  }
.open-details-link {
    float: right; font-size: 18px;
    opacity: 0.4;
    &:hover { text-decoration: none; }
}
.commit-details {
    overflow: hidden;
    background: #FFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15) inset;
    .inner {
        border-top: 1px solid #C9C9C9;
    }
    &.hidden { height: 0px; }
}
.commit-revision { float: right; font-size: 12px; }
.commit-parent-link {  }
.commit-files {
    margin: 10px 0px 10px;
    p { margin-bottom: 6px; }
    ul { color: #888; margin: 0px 0px 0px 0px; font-style: italic; }
}
.stat-num { font-size: 40px; display: block; margin-bottom: 6px; color: @c-red; }

.grids { overflow: hidden; }
.g {
    float: left;
    &:last-child { float: right; }
    &.g-1-2 { width: 50%; }
    &.g-1-3 { width: 33.33%; }
    &.g-1-4 { width: 25%; }
}


.debug { position: fixed; bottom: 20px; right: 20px; font-size: 14px; }


/* ====================================================
    STATES STYLES

    State rules are ways to describe how our modules or layouts will
    look when in a particular state.
    Is it hidden or expanded? Is it active or inactive?
    They are about describing how a module or layout looks on screens that are smaller or bigger.
    They are also about describing how a module might look in different
    views like the home page or the inside page.
==================================================== */

.open-details-link {
    -webkit-transition: 0.4s opacity ease 0s;
}



/* ==|== Media Queries ======================================================
    PLACEHOLDER Media Queries for Responsive Design.
    Modify as content requires.

    Notes:
    MOBILE FIRST - use min-width (lowest first) and style upwards
    MOBILE RESPONSIVE - use max-width (highest first) and style downwards

    Never set breakpoints for devices, only when the design requires it.
========================================================================== */

@media (max-width: 1000px) {}


/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
