<!doctype html>
<head>
	<meta charset="utf-8">

	<title>RepoTap - Eavesdropping in on your commits</title>

	<meta name="description" content="">
	<meta name="keywords" content="">

	<link href="assets/css/reset.css" rel="stylesheet">
	<link href="assets/css/font-awesome.css" rel="stylesheet">
	<link href="assets/css/core.css" rel="stylesheet">

	<script src="assets/js/lib/modernizr-2.6.1.min.js"></script>

</head>
<body>

	<div id="wrapper">

		<var id="commit-count"></var>

		<header id="header">

			<h1>RepoTap</h1>
			<p>ReopTap is commit.</p>

			<nav id="navigation">

			</nav> <!-- #navigation -->

		</header> <!-- #header -->

		<section role="main" id="content">

			<section id="commits"></section>

		</section> <!-- #content -->

		<footer id="footer">

		</footer> <!-- #footer -->

	</div> <!-- #wrapper -->

	<script src="/socket.io/socket.io.js"></script>
	<script>
		var App = {
			socket: io.connect('{{ basePath }}'),
			basePath: '{{ basePath }}'
		};

	</script>
	<script src="assets/js/lib/jq-1.8.0.min.js"></script>
	<script src="assets/js/script.js"></script>

	{{#if debug }}
		<pre class="debug">{{ debug }}</pre>
	{{/if }}

</body>
</html>
