<!doctype html>
<head>
	<meta charset="utf-8">

	<title>RepoTap - Eavesdropping in on your commits</title>

	<meta name="description" content="">
	<meta name="keywords" content="">

	<link href="assets/css/reset.css" rel="stylesheet">
	<link href="assets/css/font-awesome.css" rel="stylesheet">
	<link href="assets/css/core.css" rel="stylesheet">

	<script src="assets/js/lib/modernizr-2.6.1.min.js"></script>

</head>
<body>

	<div id="wrapper">

		<header id="header">

			<h1>RepoTap</h1>
			<p>ReopTap is commit.</p>

			<div id="stats">
				<aside id="commit-stats" class="grids">
					<div class="g g-1-3">
						<span data-live="connected-users" class="stat-num">-</span>
						viewers
					</div>
					<div class="g g-1-3">
						<span data-live="total-commits" class="stat-num">-</span>
						total commits
					</div>
					<div class="g g-1-3">
						<span data-live="timeout" class="stat-num">-</span>
						seconds until next check
					</div>
				</aside>
				<aside id="server-stats" class="grids">
					<div class="g g-1-3">
						<span data-live="repos" class="stat-num">{{ repos }}</span>
						repos
					</div>
					<div class="g g-1-3">
						<span data-live="repo-requests" class="stat-num">{{ requests }}</span>
						repo requests
					</div>
					<div class="g g-1-3">
						<span data-live="uptime" class="stat-num">-</span>
						uptime
					</div>
				</aside>
			</div>

		</header> <!-- #header -->

		<section role="main" id="content">

			<section id="commits"></section>

		</section> <!-- #content -->

		<footer id="footer">

		</footer> <!-- #footer -->

	</div> <!-- #wrapper -->

	<script src="/socket.io/socket.io.js"></script>
	<script>
		var App = {
			socket: io.connect('{{ basePath }}'),
			channels: {
				stats: io.connect('{{ basePath }}/stats')
			},
			basePath: '{{ basePath }}'
		};

	</script>
	<script src="assets/js/lib/jq-1.8.0.min.js"></script>
	<script src="assets/js/script.js"></script>

	{{#if debug }}
		<pre class="debug">{{ debug }}</pre>
	{{/if }}

</body>
</html>
